$color-primary-light: #c9e4d4;
$color-primary-medium: #688272;
$color-primary-dark: #334d4d;

$color-secondary-yellow: #f1e393;
$color-secondary-red-light: #c45c54;
$color-secondary-red-dark: #52201c;

$color-background-light: #f3efe8;
$color-background-dark: #827976;

$color-check-green: #195a23;
$color-error-red: #840101;

$color-white: #efedeb;
$color-grey-200: #cacaca;
$color-grey-500: #7f8385;
$color-grey-700: #4d5559;
$color-black: #1c272c;

$margin-xsmall: 0.75rem; // 12px
$margin-small: 1rem; // 16px - related content
$margin-medium: 2rem; // 32px - content in same section
$margin-large: 4rem; // 64px - between content and footer
