$color-primary-light: #C9E4D4;
$color-primary-medium: #688272;
$color-primary-dark: #334D4D;

$color-secondary-yellow: #F1E393;
$color-secondary-red-light: #C45C54;
$color-secondary-red-dark: #52201C;

$color-background-light: #F3EFE8;
$color-background-dark: #827976;

$color-check-green: #195A23;
$color-error-red: #840101;

$color-white: #EFEDEB; 
$color-grey-200: #CACACA;
$color-grey-500: #7F8385;
$color-grey-700: #4D5559;
$color-black: #1C272C;

$margin-xsmall: 0.75rem; // 12px
$margin-small: 1rem; // 16px - related content
$margin-medium: 2rem; // 32px - content in same section
$margin-large: 4rem; // 64px - between content and footer